<%- include('partials/header') %> 

<div class="posts-container">
    
    <% items.forEach(image => { %>
    <div class="post">
            <div class="icons" ><%= image.user %> </div>
                <img src="data:image/<%=image.img.contentType%>;base64,
                <%=image.img.data.toString('base64')%>" alt=""> 
            <div class="icons">
                <i class="far fa-heart fa-lg">10likes</i>
                <i class="far fa-comment fa-lg" style="padding-left: 10px;">5comments</i>
                <p> <%= image.desc %> </p>
            </div>
        </div>
    <% });  %> 
</div>

        <!-- <div class="post">
            <div class="icons">XyZ School</div>
            <img src="https://www.sjcsvijaynagarmysuru.in/wp-content/uploads/2019/11/2-4-1024x576.jpg" alt="">
            <div class="icons">
                <i class="far fa-heart fa-lg">10likes</i>
                <i class="far fa-comment fa-lg" style="padding-left: 10px;">5comments</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Parturient montes nascetur ridiculus mus. Sociis natoque penatibus et magnis dis parturient. </p>
            </div>
        </div>
        <div class="post">
            <div class="icons">XyZ School</div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn2lYQCsATUDiwapHPQIyH_DBOHm0fu0AMpw&usqp=CAU" alt="">
            <div class="icons">
                <i class="far fa-heart fa-lg">5likes</i>
                <i class="far fa-comment fa-lg" style="padding-left: 10px;">4comments</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Parturient montes nascetur ridiculus mus. Sociis natoque penatibus et magnis dis parturient. </p>
            </div>
        </div> -->
    

<%- include('partials/footer') %>